/**
 * @file
 * CSS for the TEI/seadragon viewer.
 */
.paged-tei-seadragon-viewer-pane {
  display: inline-block;
  vertical-align: top;
}
#paged-tei-seadragon-viewer-seadragon-pane {
  width: 49%;
}
#paged-tei-seadragon-viewer-tei-pane {
  max-width: 49%;
}
#paged-tei-seadragon-viewer-tei-pane-full {
    max-width: 100%;
}
#paged-tei-seadragon-viewer-tei {
  overflow: scroll;
  position: relative;
  max-height: 1000px;
}
.paged-tei-seadragon-viewer-left-toolbar,
.paged-tei-seadragon-viewer-right-toolbar {
  display: inline-block;
}
.paged-tei-seadragon-viewer-right-toolbar {
  float: right;
}
.paged-tei-seadragon-viewer-download-datastreams {
  float: right;
}
