/**
 * @file
 * CSS for the TEI/seadragon viewer.
 */
.paged-tei-seadragon-viewer-pane {
  display: inline-block;
  vertical-align: top;
}
#paged-tei-seadragon-viewer-seadragon-pane {
  /*default hide*/
  width: 90%;
  /*width: 49%;*/
}
#paged-tei-seadragon-viewer-tei-pane {
  max-width: 49%;
}
#paged-tei-seadragon-viewer-tei-pane-full {
    max-width: 100%;
}
#paged-tei-seadragon-viewer-tei {
  overflow: scroll;
  position: relative;
  max-height: 1000px;
  /*default hide*/
  display: none;
}
.paged-tei-seadragon-viewer-left-toolbar,
.paged-tei-seadragon-viewer-right-toolbar {
  display: inline-block;
}
.paged-tei-seadragon-viewer-right-toolbar {
  float: right;
}
.paged-tei-seadragon-viewer-download-datastreams {
  float: right;
}

#islandora-paged-tei-seadragon-navigate-right > img, #islandora-paged-tei-seadragon-navigate-left > img {
    vertical-align: middle;
}

.paged-tei-seadragon-viewer-wrapper {
    display: table;
    width: 100%;
}

.paged-tei-seadragon-viewer-left-toolbar, .paged-tei-seadragon-viewer-right-toolbar {
    display: table-cell;
    vertical-align: middle;
}
